<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- اجازه‌ی اجرای Foreground Service (روی Android 9+ الزامی است) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:label="UI XML Inspector"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".UiDumpAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <!-- از بیرون هم قابل استارت باشد -->
        <service
            android:name=".HttpForegroundService"
            android:exported="true"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>
